* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}
img {
  width: 100%;
}
section {
  height: 100vh;
  padding: 5rem 1.5rem;
}
:root {
  --warna-utama: #16a34a;
}
body {
  font-family: sans-serif;
  background-color: #eee;
  overflow-x: hidden;
  font-size: 20px;
}

/* navbar */
nav {
  display: flex;
  background-color: rgb(22, 163, 74, 0.7);
  justify-content: space-around;
  height: 50px;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 4;
}

nav ul {
  display: flex;
  list-style: none;
  width: 40%;
  justify-content: space-between;
}
nav ul li {
  position: relative;
}

nav ul li a {
  color: #000;
  text-decoration: none;
  margin: 0 5px;
  padding: 5px;
  transition: all 0.5s;
  font-size: 0.8 rem;
}

nav ul li a:hover {
  background-color: #22c55e;
  border-radius: 10%;
  color: #fff;
  box-shadow: 3px 3px 4px #166534;
}

/* hamburger menu */
.menu-toggle {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
}

.menu-toggle input {
  position: absolute;
  width: 40px;
  height: 28px;
  left: -5px;
  top: -5px;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}
.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: #000000;
  border-radius: 3px;
}
/* akhir navbar */
/* hero */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  align-items: center;
  display: flex;
}
.welcome {
  display: block;
  width: 50%;
  font-size: 1.5rem;
}
.welcome h4 {
  font-size: 1.875rem;
  line-height: 2.25rem;
  color: var(--warna-utama);
  margin: 10px 0;
}
.welcome h5 span {
  color: var(--warna-utama);
}
.hero .container .main .welcome .sosmed {
  display: flex;
  margin: 10px 5px 20px 5px;
}

.sosmed .ig:hover {
  background-image: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  color: #fff;
}
.welcome .sosmed a {
  padding: 5px;
  border-radius: 40%;
  background-color: #eaeaea;
  border: 1px solid #adadad;
  margin-right: 15px;
  align-self: center;
  font-size: 1.2em;
  transition: 0.5s;
}
.welcome .ig {
  color: #c32aa3;
}
.welcome .fb {
  color: #3b5998;
  border-radius: 50%;
}

.welcome .github {
  color: #171515;
  border-radius: 50%;
}
.welcome .fb:hover {
  color: #fff;
  background-color: #3b5998;
}

.welcome .github:hover {
  color: #fff;
  background-color: #171515;
}
.welcome .btn {
  padding: 7px 20px;
  border-radius: 40px;
  background-color: var(--warna-utama);
  color: #fff;
  transition: 1.5s;
}
.welcome .btn:hover {
  background-color: #4ade80;
  box-shadow: 10px 5px 10px #000;
  color: #000;
}
.container-img-hero {
  width: 50%;
  display: flex;
}
.img-hero {
  position: relative;
  margin-top: 2.5rem;
  transform: translateX(35%);
  width: 75%;
}

/* about */
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: #f0fdf4;
}
.about-img img {
  width: 35vw;
}
.heading {
  text-align: center;
  font-size: 4.5rem;
}
.about-content h2 {
  text-align: left;
  line-height: 1.2;
}
.about-content h3 {
  font-size: 2.5rem;
}
.about-content p {
  font-size: 1.5rem;
  margin: 2rem 0 3rem 0;
}

/* skills */
.skills h2 {
  margin-bottom: 5rem;
}
.skills-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.skills-container .skills-box {
  background-color: #fff;
  flex: 1 1 20rem;
  padding: 2rem 3rem 3rem 3rem;
  border-radius: 2rem;
  text-align: center;
  border: 1px solid var(--warna-utama);
  transition: 0.5s;
}

.skills-container .skills-box:hover {
  border: 1px solid #fff;
  box-shadow: 3px 5px 10px #000;
  transform: scale(1.05);
}

.skills-container .skills-box img {
  width: 25%;
}

.skills-box h3 {
  font-size: 2.5rem;
}
/* portofolio */
.portofolio {
  background-color: #f0fdf4;
}
.portofolio h2 {
  margin-bottom: 4rem;
}
.portofolio-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
}
.portofolio-container .portofolio-box {
  position: relative;
  box-shadow: 2px 2px 5px #555;
  overflow: hidden;
  display: flex;
  width: 40rem;
}
.portofolio-box img {
  width: 100%;
}
.portofolio-layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgb(0, 0, 0, 0.1), var(--warna-utama));
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 0 4rem;
  transform: translateY(100%);
  transition: 0.5s;
}
.portofolio-box:hover .portofolio-layer {
  transform: translateY(0);
}
.portofolio-layer h4 {
  font-size: 0.9rem;
  margin-bottom: 1.2rem;
}
.portofolio-layer p {
  font-size: 0.85rem;
  color: #eaeaea;
}
.portofolio-layer a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  background-color: #fff;
  border-radius: 50%;
}
.portofolio-layer a i {
  font-size: 1.5rem;
}
.contact {
  margin-bottom: 3rem;
}
.contact form {
  max-width: 70rem;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 3rem;
}
.contact form .input-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.contact form .input-box input,
.contact form textarea {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.5rem;
  border-radius: 0.75rem;
  margin: 0.7rem 0;
}
.contact form .input-box input {
  width: 49%;
}
.contact form textarea {
  resize: none;
}
.contact form .btn {
  margin-top: 2rem;
  cursor: pointer;
  font-size: 1.5rem;
  border-radius: 1.2rem;
  padding: 1.1rem;
  background-color: var(--warna-utama);
}
/* footer */
.footer {
  text-align: center;
  padding: 50px;
  background-color: var(--warna-utama);
  color: #fff;
}
.footer a {
  color: #fff;
  text-decoration: underline;
}
/* responsive */
/* large */
@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}
@media (max-width: 991px) {
  section {
    padding: 10rem 2rem;
  }
  .skills {
    padding-bottom: 7rem;
  }
  .portofolio {
    padding-bottom: 10rem;
  }
  .contact {
    min-height: auto;
  }
}
/* tablet */
@media screen and (max-width: 768px) {
  nav ul {
    width: 50%;
  }
  .hero .welcome {
    font-size: 3rem;
  }

  .about {
    flex-direction: column-reverse;
  }
  .about img {
    width: 70vw;
    margin-top: 4rem;
  }
  .skills h2 {
    margin-bottom: 3rem;
  }
  .portofolio {
    margin-bottom: 3rem;
  }
  .portofolio-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .portofolio h2 {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 617px) {
  .portofolio-container {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 576px) {
  /* navbar */
  nav ul {
    position: absolute;
    flex-direction: column;
    right: 0;
    background-color: rgb(134, 239, 172, 0.6);
    backdrop-filter: blur(2px);
    top: 0;
    height: 100vh;
    align-items: center;
    justify-content: space-evenly;
    z-index: -5;
    width: 50%;
    transform: translateX(100%);
    transition: all 1.3s;
    opacity: 0;
  }

  .menu-toggle {
    display: flex;
  }
  nav ul.slide {
    transform: translateX(0);
    opacity: 1;
  }

  /* home */
  .hero .container {
    width: 80%;
  }
  .hero .container .welcome {
    width: 100%;
  }
  .hero .container-img-hero {
    display: none;
  }

  /* about */
  .about {
    flex-direction: column-reverse;
    height: 110vh;
  }
  .about img {
    width: 70vw;
    margin: 2rem;
  }
  .skills h2 {
    margin-bottom: 3rem;
  }
  .portofolio {
    height: 120vh;
  }
  .portofolio-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
